.header-container {
  display: flex;
  justify-content: center;
  padding-top: 50px;
  margin-bottom: 30px;
}

h1 {
  text-align: center;
  font-size: 36px;
  font-weight: bold;
  text-shadow: 
    1.5px 1.5px 0 #000, 
    -1.5px 1.5px 0 #000, 
    1.5px -1.5px 0 #000, 
    -1.5px -1.5px 0 #000;
}

body {
  background-color: #2c3e50; /* Replace with any dark color code you like */
  color: white; /* Set text color to white to contrast with dark background */
  overflow: hidden;
  text-align: center;
}

#counter {
  font-size: 48px;
}
